{% extends 'base.html' %}

{% block content %}
<script>
    function goBack() {
        window.history.back()
    }
</script>
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <h4>Are you sure you want to delete ?</h4>
                            <button class="btn btn-danger">Delete</button>
                            <a onclick="goBack()" class="btn btn-success">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div id="success-messages">
                                <div style="font-size: 20px; color: red;">
                                    <li><span>{{ message|safe }}</span></li>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}