<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>One Time Sale Balance Sheet PDf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    <style type="text/css">
		body{
			font-family: 'Noto Sans', sans-serif;
		}
	</style>
</head>

<body style="height: 842px;">
    <h4 class="text-center mb-0">One Time Sale Balance Sheet</h4>
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th class="text-right">Total Amount</th>
                    <th class="text-right">Total Amount after Discount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.date.date }}</td>
                        <td>{{ item.customer }}</td>
                        <td class="text-right"> {{ item.total }}</td>
                        <td class="text-right"> {{ item.total_after_discount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2" class="text-right">Total</td>
                    <td class="text-right">{{ object.total_after_discount }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>