{% load static %}

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
        </div>
        <div>
            <h7>Album</h7>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li class="menu-label">Forms & Tables</li>
            <li>
                <a href="{% url 'album:create' %}">
                    <div class="parent-icon icon-color-12">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Album</div>
                </a>
            </li>

        </ul>
        </div>

</div>